/*
 * jQuery FlexSlider v2.5.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 * @package Napoli
 */

/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.zeeflex-container a:hover,
.zeeflex-slider a:hover,
.zeeflex-container a:focus,
.zeeflex-slider a:focus {
	outline: none;
}
.zeeslides,
.zeeslides > li,
.zeeflex-control-nav,
.zeeflex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
.zeeflex-pauseplay span {
	text-transform: capitalize;
}

/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.zeeflexslider {
	margin: 0;
	padding: 0;
}
.zeeflexslider .zeeslides > li {
	display: none;
	-webkit-backface-visibility: hidden;
}
.zeeflexslider .zeeslides img {
	display: block;
	width: 100%;
}
.zeeflexslider .zeeslides:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: "\0020";
	line-height: 0;
}
html[xmlns] .zeeflexslider .zeeslides {
	display: block;
}
* html .zeeflexslider .zeeslides {
	height: 1%;
}
.no-js .zeeflexslider .zeeslides > li:first-child {
	display: block;
}

/* ====================================================================================================================
 * Napoli Slider Theme
 * ====================================================================================================================*/

.post-slider-wrap {
	position: relative;
	overflow: hidden;
	margin: 0 0 2em 0;
	background: #e5e5e5;
	box-shadow: 0 1px 2px #bbb;
}

.post-slider, .zeeflexslider .zeeslides {
	zoom: 1;
}

.post-slider .zeeslide {
	position: relative;
}

.zeeflex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

.post-slider .zeeslide .type-post {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	background: none;
	box-shadow: none;
}

.post-slider .zeeslide .slide-image-link {
	width: 67%;
}

.post-slider .zeeslide .slide-image-wrap {
	margin: 0;
	padding: 0;
}

.post-slider .zeeslide .slide-image {
	margin: auto;
	padding: 0;
	max-width: 100%;
	max-height: 500px;
	width: auto;
	height: auto;
	vertical-align: top;
}

.post-slider .zeeslide .type-post .slide-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 33%;
	background: #fff;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
}

.post-slider .zeeslide .slide-content .post-content {
	flex-grow: 1;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
}

@media only screen and (min-width: 60.001em) {
	.post-slider .zeeslide .slide-content .post-content .entry-title {
		font-size: 20px;
		font-size: 1.25rem;
	}

	.post-slider .zeeslide .slide-content .post-content .entry-content {
		font-size: 16px;
		font-size: 1rem;
	}

}

.post-slider-controls {
	clear: left;
}

/* Direction Nav */
.post-slider-controls .zeeflex-direction-nav {
	position: absolute;
	top: 1em;
	left: 1em;
	*height: 0;
}

.post-slider-controls .zeeflex-direction-nav a {
	position: absolute;
	z-index: 10;
	display: block;
	margin: 0;
	width: 40px;
	height: 40px;
	background: #fff;
	color: #444;
	text-align: left;
	font-size: 0;
	cursor: pointer;
}

.post-slider-controls .zeeflex-direction-nav a:hover {
	background: #ee4455;
	color: #fff;
	text-decoration: none;
}

.post-slider-controls .zeeflex-direction-nav a:before {
	display: inline-block;
	color: #444;
	vertical-align: text-bottom;
	text-decoration: inherit;
	font: normal 28px/1 Genericons;
	-webkit-font-smoothing: antialiased;
}

.post-slider-controls .zeeflex-direction-nav a:hover:before {
	color: #fff;
}

.post-slider-controls .zeeflex-direction-nav a.zeeflex-next:before {
	margin: 0.25em;
	content: '\f431';
	-webkit-transform:rotate(270deg);
	-moz-transform:rotate(270deg);
	-o-transform:rotate(270deg);
	-ms-transform:rotate(270deg);
}

.post-slider-controls .zeeflex-direction-nav a.zeeflex-prev:before {
	margin: 0.3em;
	content: '\f431';
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
}

.post-slider-controls .zeeflex-direction-nav .zeeflex-next {
	left: 45px;
}


/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/

@media only screen and (max-width: 75em) {
	.post-slider-wrap {
		margin-bottom: 1.5em;
	}
}

@media only screen and (max-width: 60em) {
	.post-slider .zeeslide .type-post {
		display: block;
	}

	.post-slider .zeeslide .type-post .slide-image-link {
		width: 100%;
	}

	.post-slider .zeeslide .type-post .slide-content {
		width: 100%;
		box-shadow: none;
	}
}
